.bottom-vertical-bar-container{
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #d3d3d3;
    outline: 1px solid transparent;
    z-index: 1000;
}

.bottom-bar-project-name{
    margin-left: 10px;
    font-size: 12px;
    color: #222;
}