.vertical-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #a1a1a176
    ;
}
.menu-bar-button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 13px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 120ms ease, box-shadow 120ms ease, transform 120ms ease, border-radius 120ms ease;
}
.menu-bar-button.first-button{
    margin-left: 10px;
}
.menu-bar-button.last-button{
    margin-left: auto;
    margin-right: 10px;
}

.menu-bar-button:hover{
    background-color: #f2f2f2;
    box-shadow: 0 0 0 1px #e5e5e5 inset;
    transform: translateY(-1px);
    border-radius: 8px;
}